[2021-04-01 15:52] garethjevans opened #2 "[jep-229] configure project for automatic release"
Configure this repository for automated release

[2021-04-06 08:02] garethjevans opened #5 "Support reading the current version from a maven pom.xml"
### Feature Request

Support reading the version from a maven pom.xml.  Could either simply parse the the xml or use the `help:evaluate` command to evaluate the version of `project.version` (may be a better approach for more complex projects)

[2021-04-06 11:28] garethjevans opened #10 "Remote workspaces"
### Feature Request

Handle running git commands on local and remote workspaces.

[2021-04-06 13:58] #2 closed

[2021-04-06 18:45] garethjevans opened #18 "Support reading the current version from a package.json"
### Feature Request

Support reading / writing the version from a package.json

[2021-04-06 18:46] garethjevans opened #19 "Support reading the current version from a build.gradle"
### Feature Request

Support reading/writing the version from a build.gradle.

https://docs.gradle.org/current/userguide/writing_build_scripts.html

[2021-04-06 18:48] garethjevans opened #20 "Support reading the current version from a helm Chart.yaml"
### Feature Request

May need to support version & appVersion

[2021-04-06 18:50] garethjevans opened #21 "Support reading the current version from a Makefile"
### Feature Request

Where the makefile may look something like:

[code]

[2021-04-06 18:52] garethjevans opened #22 "Support multiline commit messages"
### Feature Request

the current implementation only reads the first line from the commit message, this may miss some conventional commit messages. According to the spec, the following is a valid commit message:

[code]

currently this will be treated as a minor release, but should be treated as a major release.

[2021-04-06 19:06] garethjevans opened #23 "Add prerelease information to the new version"
### Feature Request

As an extension to generating a standard semver compatible version number, it would be handy to be able to append prerelease information. e.g.

[code]

would generate something like:

[code]

[2021-04-06 19:07] garethjevans opened #24 "Add build metadata to new version"
### Feature Request

As an extension to generating a standard semver compatible version number, it would be handy to be able to append build metadata information. e.g.

[code]

would generate something like:

[code]

[2021-04-06 19:32] garethjevans opened #25 "Documentation for usage"
### Feature Request

Add some documentation about basic usage.

[2021-05-05 10:11] fowlie commented on #5
+1 for this one :+1:

I hope you will use the `help:evaluate` approach. Otherwise, it can be difficult for Maven multi module projects.

[2021-06-01 10:45] jonyto123 commented on #22
Also can you add !: spec to breaking change? when 'appends a ! after the type/scope'.

[2021-06-25 07:04] #5 closed

[2021-06-26 15:02] philippart-s commented on #18
Hi @garethjevans ,

Can I try to work on this issue ?
I'am a new to contributing to Jenkins / Jenkins plugins, is it ok for you ?

Is there any code convention to follow (I have read the default contributing) ?

Regards.

[2021-06-29 17:31] henryborchers opened #48 "Support reading the current version from a python setup.cfg"
### Feature Request

Support reading / writing the version from a setup.cfg from a python project

An example of this file could look like...

[code]

[2021-06-29 17:38] henryborchers opened #49 "Support reading the current version from a (PEP 621) pyproject.toml"
### Feature Request

Support reading / writing the version from a setup.cfg from a (PEP 621) pyproject.toml.

[Specs are here.]( https://www.python.org/dev/peps/pep-0621/) including an [example](https://www.python.org/dev/peps/pep-0621/#example)

[2021-07-04 16:14] philippart-s commented on #18
@ADI10HERO is it mean that it's ok for me to work on this issue ?

[2021-07-05 06:40] ADI10HERO commented on #18
Hey @philippart-s, yes please, by all means :)

Would you like to:
1. Get this issue assigned to yourself
2. Join the [gitter channel](https://gitter.im/jenkinsci/conventional-commits-plugin) for this project to chat/discuss your approach

[2021-07-05 19:30] philippart-s commented on #18
@ADI10HERO can't assign to my self, I think you have the rigth to do the assignment

[2021-07-06 16:16] philippart-s opened #51 "Add documentation / configuration files to configure IDE"
### Feature Request
To avoid unreadable PR it'll be nice to share (by documentation ou config file like .editorconfig) the IDE configuration.
The code format option  in the IDE will not make a mess in the PR 😉

[2021-07-08 07:24] #19 closed

[2021-07-08 11:40] #22 closed

[2021-07-08 12:00] philippart-s commented on #20
@ADI10HERO feel free to assign to me this issue 😉

[2021-07-08 12:05] ADI10HERO commented on #20
Thank you for contributing @philippart-s 😄

[2021-07-08 14:50] ADI10HERO commented on #48
Hello, @henryborchers
I had a couple of questions:
1. In the python project, a `setup.py` file also (almost) always exists, right?

[2021-07-08 15:55] henryborchers commented on #48
Short answer:
The setup.py almost always exists for Python projects. At least the time being...

Longer answer:
However, that is changing very rapidly. In Python the acceptance of the Python proposal, [PEP-517](https://www.python.org/dev/peps/pep-0517/) is making setup.py no longer a necessary for creating Python distribution packages. Python developers are moving away from using setup.py if they

[2021-07-08 19:22] ADI10HERO commented on #48
Gotcha! Thank you so much for your answer (especially the longer one).

The reason I was asking for `setup.py` was, it's easy to get the current version using the command: `python setup.py --version`

It covers the case when the version is mentioned under metadata in `setup.cfg` and even when it's dynamic (`version = get_version()`) i.e. using some other function or variable to set the version and

[2021-07-08 20:47] #21 closed

[2021-07-08 20:48] garethjevans commented on #51
Rather than adding the project files, it may be worth adding configuring a checkstyle formatter in the pom.xml so that it should work across all IDEs? what do you think? I can push a PR as an example.

[2021-07-09 04:43] henryborchers commented on #48
I'm happy to provide any help with this that I can.

One thought off the top of my head about not using "setup.py --version". I used to use this to solve this problem myself but I would run into an issue if the setup.py includes any print statements.

My current strategy for getting this to work consistently is something like this...
[code]

[2021-07-09 06:48] philippart-s commented on #51
Yes it's a good idea, but if I understand how it works this is to generate reporte not format automatically the code, the .editorconfig file is recongnize by Idea, VsCode ans Eclipse and can be used to set the minimum configuration like space in place of tab, max line length,end line style, ... And the IDE format the code based on this file.
I thing a combination of checkstyle and editorconfig may

[2021-07-09 07:24] #18 closed

[2021-07-09 07:50] philippart-s commented on #20
I think there is two ways to do this : use the helm command _show chart_ or use Jackson to read the YAML file.
The Helm command output is for example :
[code]
I think there is no gain to use the command : we'll need to parse the output and depend of the Helm command configuration in the path, the loading of the YAML in a map with Jackson seem more easiest and need no Helm installation configured.

[2021-07-09 13:59] ADI10HERO opened #57 "Caching maven dependencies in github actions"
### Dependencies

### Feature Request

Github actions build takes time, to reduce that build and avoid the download of dependencies, caching the `.m2` is required

[2021-07-09 16:02] #57 closed

[2021-07-09 20:52] ADI10HERO opened #59 "fix google checkstyle"
### Feature Request
A checkstyle fix of the codebase is needed.
Decided to use: `google_checks.xml`

[2021-07-10 07:52] #59 closed

[2021-07-13 20:52] #48 closed

[2021-07-14 20:22] #49 closed

[2021-07-14 20:31] #20 closed

[2021-07-14 20:41] garethjevans opened #67 "Releases are currently broken"
[code]

This looks like its an issue with repository-permissions-updater pushing out credentials that are out of sync with artifactory.

[2021-07-14 20:41] garethjevans commented on #67
@olblak do you know anything about this?

[2021-07-14 20:43] garethjevans opened #68 "Use the jackson api plugins for dependencies"
Rather than including the jackson libraries directly in the pom, we should switch to a dependency on the jackson2-api-plugin (its version should be managed by the bom)

[2021-07-14 21:09] #68 closed

[2021-07-15 11:30] philippart-s commented on #51
@garethjevans & @ADI10HERO if it's ok for you, you can assign me the issue.
As mentionned in the gitter we'll can saw by the example what is the best solution 😉 .
Ok for you ?

[2021-07-15 11:32] philippart-s commented on #23
Can I try to work on this ?

[2021-07-16 07:39] olblak commented on #67
We are investigating issues with Jfrog on repo.jenkins-ci.org, I don't know it if its related

[2021-07-16 08:20] ADI10HERO opened #70 "Add contributing.md"
### Feature Request

A go-to file for the users to contribute/add more project types to the project

[2021-07-16 09:50] olblak commented on #67
@garethjevans  Ha I missed that this issue was created two days ago, indeed we identify the root cause and yesterday we were able to do a release as you can see [here](https://github.com/jenkinsci/conventional-commits-plugin/runs/3074797064?check_suite_focus=true)

For some reason, a previous Github action run published the release 0.3.0 on repo.jenkins-ci.org but failed to publish the release and

[2021-07-16 09:50] #67 closed

[2021-07-16 22:16] ADI10HERO opened #71 "fix existing checkstyle issues"
### Reproduction steps

- `mvn check`

### Results

Expected result:

NO checkstyle violations

Actual result:
94 checkstyle violations

[2021-07-17 18:06] philippart-s commented on #51
@garethjevans & @ADI10HERO, I think my idea is not so good seeing what the checkstyle plugin's do.
I think with the plugins in each of IDE we can do the same result by importing the checkstyle rule used by the maven plugin (Google java's checkstyle if I undertand the documentation).

@garethjevans I think your idea is better we can use the default configuration or create a custom configuration for

[2021-07-18 13:39] ADI10HERO commented on #51
Hey @philippart-s , @garethjevans's PR (#55) adds a check (though using GitHub actions), is it something similar to what you're suggesting?

[2021-07-18 13:50] philippart-s commented on #51
yes you're right I've missed this PR (sorry).
The job is done as he updated the pom with the chekstyle configuration :wink:

It's totally what I imagined ! For me this PR fixe this issue :wink:

Furthemor the job you done in the #72 corroborate that is the good approch to use checkstyle maven plugin and the checkstyle plugin int the IDEs.

[2021-07-18 14:03] ADI10HERO commented on #51
Then I guess adding a `fixes #51` in the PR would do the Job? 😄

[2021-07-19 07:17] #71 closed

[2021-07-21 12:45] ADI10HERO commented on #51
@garethjevans, @philippart-s  can we close this?

[2021-07-25 15:57] philippart-s opened #76 "If tag is not created with annotated option it is not used to get the next version"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Create an annotated tag : `git tag -a 0.1.0`
- Create a non annotated tag : `git tag 0.2.0`
- Execute  the line in the code that get the last tag :  https://github.com/jenkinsci/conventional-commits-plu

[2021-07-26 13:12] philippart-s commented on #51
ok for me

[2021-07-29 12:14] #24 closed

[2021-07-30 10:25] #51 closed

[2021-07-31 09:54] ADI10HERO opened #80 "Write next version in pom.xml"
### Dependencies

### Feature Request

Updating the pom.xml for a maven project with the next calculated version.

[2021-07-31 10:12] ADI10HERO opened #81 "Write next version in build.gradle"
### Dependencies

### Feature Request

Writing calculated next version back into the build.gradle file

[2021-08-05 12:29] philippart-s opened #86 "Write next version in package.json"
### Dependencies

### Feature Request

Writing calculated next version back into the package.json file

[2021-08-06 19:09] #80 closed

[2021-08-09 12:43] #23 closed

[2021-08-09 12:44] ADI10HERO opened #88 "WriteVersion Test for Maven Project"
### Feature Request

Test for writeNextVersion for MavenProjectType

[2021-08-09 13:07] ADI10HERO opened #89 "Different versions in config file and latest tag"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Any maven project with the version in pom.xml as 0.1.0
- Git tag of the project 0.3.0
- Add a 'feat' commit (just for demo purposes)
- Run the conventional commits plugin

### Results

Expected result:

[2021-08-11 19:07] ADI10HERO commented on #76
@garethjevans, @philippart-s
Tested this on a sample maven and python project and I was able to replicate the issue but this only happens when (multiple) tags are applied to the same commit.

To see all tags applied to the same commit: `git log --oneline --decorate=short`

When multiple commits are tagged, the command `git describe --tags` gets the latest tag (irrespective of it being annotated or

[2021-08-13 07:17] #88 closed

[2021-08-13 14:27] ADI10HERO opened #92 "A jenkins test with successful write version"
### Feature Request

A JenkinsTest where the parameter is `writeVersion: true` and the write method is successfully run.
`sample-maven-project-with-notags.zip` from test resources could be used.

[2021-08-13 15:18] ADI10HERO commented on #25
Does the updated readme resolve this issue? Or was something else expected?

[2021-08-16 08:39] #89 closed

[2021-08-16 17:16] philippart-s opened #95 "Write next version in chart.yaml"
### Dependencies

N/A

### Feature Request

Writing calculated next version back into the `chart.yaml` file.

[2021-08-16 17:17] philippart-s commented on #95
@ADI10HERO is it ok for you that I take this issue ?

[2021-08-16 17:43] ADI10HERO commented on #95
Yes, please! :)

[2021-08-19 20:17] ADI10HERO opened #96 "Update readme with a scripted pipeline example"
### Feature Request

Examples in the readme are declarative pipelines.
An example of a scripted pipeline would help users.

[Linking](https://github.com/jenkins-infra/jenkins.io/pull/4515#discussion_r691669268) the initial discussion/feature request on jenkins-infra/jenkins.io

[2021-08-22 18:44] #86 closed

[2021-08-23 08:17] #96 closed

[2021-08-30 18:01] #95 closed

[2021-09-07 09:32] #81 closed

[2021-09-07 11:44] philippart-s commented on #76
@ADI10HERO effectively, I think it's not a good thing to create two tags in the same commit but it can append ...
We can choose to not support these kind of git usage or try to get all tags created.

If we choose to list all tags regardless of their creation there is also the command `git tag -l` which list all the tags created (annotate or not, in the same commit or not).

If you want I can try t

[2021-09-08 14:08] bpedersen2 commented on #76
I recommend to only use annotated tags by default.
Reasons:
 - on-annotated tags are often used for local-only tagging and you would not want those to mess with your versioning.
   They do not contain infos about who and when the tagging happend.
   It has reason that  git describe will only look at annotated tags
 -  some git-backends (e.g. gerrit ) won't allow to push non-annotated tags at all

[2021-09-09 11:44] philippart-s commented on #76
Totally agree with you for the good practice of use annotated commit 😉.
The only point is that the user must know that if he do a non annotated commit the version will be no bumped.

As you say we can add a parameter that allow to use non annotated commit in the compute of the next version or at least we write it explicitly in the documentation that non annotated commit are not supported.

[2021-09-09 12:00] philippart-s commented on #92
@ADI10HERO  after codding some similar features I think that "out of the box" it's not possible.
I try to explain why :
 - to do an integration test in the JenkinsTest class we must have the package tool, maven in our case. If we have the chance to have a maven CLI on the CI server because our project use maven it's not the case for the others tools (npm, helm, ...)
 - we can't mock these tools, a

[2021-09-09 12:28] ADI10HERO commented on #92
I totally agree with you on both points there.

I learned that the hard way :P

[2021-09-11 09:34] ADI10HERO opened #106 "Fix detected Spotbug"
### Reproduction steps

For more details: https://github.com/jenkinsci/conventional-commits-plugin/runs/3532243363

### Results

Expected result:

Spotbug CI to pass

Actual result:

Spotbug CI Fails

[2021-09-12 15:14] #106 closed

[2021-09-13 10:38] #25 closed

[2021-09-18 15:39] philippart-s commented on #76
If it's ok for everybody I take this issue :wink:

[2021-09-24 07:06] #76 closed

[2021-09-24 16:20] henryborchers opened #111 "Add currentVersion() step"
Any chance that I can use this plugin to easily determine the current version?  Something like the following would be very helpful and would allow me to remove a lot of annoying code in my pipelines.

`def CURRENT_VERSION=currentVersion()
`

[2021-09-24 21:31] garethjevans commented on #111
Hi @henryborchers, not at the moment, but that would be a great addition.  Do you fancy submitting a PR?

[2021-09-25 06:43] philippart-s opened #112 "Write next version in a make file"
### Dependencies

### Feature Request
Updating the make file  with the next calculated version.

[2021-09-25 06:46] philippart-s opened #113 "Write next version in a python project"
### Dependencies

### Feature Request
Updating the configuration file for a python project with the next calculated version.

[2021-09-25 06:57] philippart-s opened #114 "Support Scala project for reading current version in a scala project"
### Dependencies

### Feature Request
Read current version in a buid.properties for a scala project

[2021-09-25 07:20] philippart-s opened #115 "Write next versionin a scala project"
### Dependencies

### Feature Request

Updating the configuration file for a scala project with the next calculated version.

[2021-09-25 07:23] philippart-s opened #116 "Support PHP project for reading current version"
### Dependencies

### Feature Request

Read current version in a PHP project

[2021-09-25 07:25] abxhr commented on #70
I would love to work on this! 🙋‍♂️
Are there any specific instructions that should be mentioned in the `CONTRIBUTING.md` file?

[2021-09-25 07:25] philippart-s opened #117 "Write next version in a PHP project"
### Dependencies

### Feature Request

Updating the configuration file for a PHP project with the next calculated version.

[2021-09-25 10:28] philippart-s opened #118 "Support Go project for reading current version"
### Dependencies

### Feature Request

Read current version in a Go project

[2021-09-25 10:48] philippart-s commented on #70
Hi,
In my opinion a link to the developer guidelines (https://www.jenkins.io/doc/developer/tutorial/prepare/).
I'd like this kind of information : https://github.com/jenkinsci/ansicolor-plugin/blob/master/.github/CONTRIBUTING.md
Remind that tests must be provided (the PR template do this but I think it's not bad to remind again :wink: ).

An explanation on how named the PR regarding the action _la

[2021-09-26 01:31] henryborchers commented on #111
I would if I knew enough Java. I've touched Java code once since 2006.

[2021-09-26 09:21] philippart-s commented on #111
@henryborchers I can take it if you prefer and you'll test it once it's done ?

[2021-09-27 15:03] henryborchers commented on #111
I'd be very happy to test it!!

[2021-09-29 15:32] sreyan-ghosh commented on #113
Hi @philippart-s I am pretty new to opensource but want to contribute to this issue. I had a look at the closed issues related to "writing next version" in `package.json` and `pom.xml` but didn't understand what it is that is being done exactly.

Could you guide me on what needs to be done in this issue?

[2021-09-30 10:36] philippart-s commented on #113
Hi,

I'll glad to explain you how to contrib.
I give you more details this week-end (I'm currently at Devoxx France with less access to my computer 😉 )

[2021-09-30 10:40] sreyan-ghosh commented on #113
Sure, no issues. I'll be waiting.

[2021-10-01 09:56] himanshu007-creator commented on #117
Hi, i would like to work on this issue

[2021-10-01 11:20] anoopmsivadas commented on #112
Hey, I would like to work on this

[2021-10-01 11:54] sshiv5768 commented on #118
Hey, @philippart-s
I would love to work on this issue can you give some brief info about this issue.

[2021-10-01 13:12] SohamJ opened #124 "Support generic VERSION file to record version info"
### Dependencies

N/A

### Feature Request

#### Overview

The request is to support a generic `VERSION` file where the plugin can read and update the semantic version information.

[VERSION](https://filext.com/file-extension/VERSION) file is a text file that holds only the version info and sits in the root of the git repository. For example:
[code]

#### Requirement

Version is used in many place

[2021-10-01 17:13] philippart-s commented on #118
hi @sshiv5768 ok !

[2021-10-01 17:14] philippart-s commented on #117
hi @himanshu007-creator , ok !

[2021-10-01 17:15] philippart-s commented on #112
hi @anoopmsivadas , ok !

[2021-10-01 17:18] philippart-s commented on #113
Hi again @sreyan-ghosh ,

To develop this feature you should implement the method writeVersion in the class https://github.com/jenkinsci/conventional-commits-plugin/blob/main/src/main/java/io/jenkins/plugins/conventionalcommits/utils/PythonProjectType.java.

The goal is to get the next version for a PHP project and write back in the configuration file (if it exist) to use it later (for example on

[2021-10-02 16:36] #70 closed

[2021-10-03 18:51] #112 closed

[2021-10-05 06:43] philippart-s commented on #124
Here is more precision when git tag and / or configuration (as pom.xml for instance) exists.

The git tag is used, if no git tag the VERSION file is used, if no VERSION file the configuration file is used.

[2021-10-07 13:41] philippart-s opened #128 "Error in the snippet and missing optionnal fileds"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Go to console
- Display snippet generator
- Clique on _Generate Pipeline Script_

### Results

Expected result:

Snippet generate the pipeline script to use.

Actual result:

`no public field ‘buildMeta

[2021-10-12 09:44] philippart-s commented on #128
@yuezhuangshi yes, thanks !
I'll take time to review the PR 😉

[2021-10-12 11:44] #128 closed, assigned to yuezhuangshi

[2021-10-12 11:44] philippart-s opened #133 "feat: Add som documentations and example in the snippet"
### Dependencies

N/A

### Feature Request

Add documentation and examples to the snippet.
For instance the step ReadJson :
![image](https://user-images.githubusercontent.com/26224751/136950005-35a32e13-b8c5-48f2-91fd-5ce29c6eca00.png)

[2021-10-17 10:54] philippart-s commented on #118
@sshiv5768 did you still interested to work on this issue ?

[2021-10-18 11:23] #111 closed

[2021-10-27 16:31] philippart-s opened #139 "If several python configuration files exist : take the first with a version attribute"
### Dependencies

see https://github.com/jenkinsci/conventional-commits-plugin/issues/111#issuecomment-949943754 for details

### Feature Request

If there is several configuration file for a python project (setup.py, setup.cfg, ...) take the first file with a _version_ attribute.
Raise an error only if no configuration files have a version attribute

[2021-11-01 11:28] philippart-s opened #142 "Use contain in place of startWith in the search of attributes version"
### Dependencies

see https://github.com/jenkinsci/conventional-commits-plugin/pull/129#discussion_r739318545

### Feature Request

Several piece of code use `startsWith` to find the version attribute in the configuration file.
For file with indentation it's combining with `contain` to ignore spaces or tabulations.

Uses `contain` will be sufficient or trim spaces and tabulation before the search.

[2021-11-01 17:09] ReyhanPatria commented on #142
Hi! I would like to work on this, this seems simple enough for my first issue. I would like to be assigned to this. Thanks!

[2021-11-01 17:14] philippart-s commented on #142
Welcom @ReyhanPatria , thanks !

[2021-11-02 16:50] #142 closed

[2021-11-02 17:49] philippart-s commented on #113
PR #129  fix this issue

[2021-11-02 17:49] #113 closed

[2021-11-09 19:42] #139 closed

[2021-11-09 19:52] philippart-s commented on #111
@henryborchers the next released version will have the fix (0.10.0).
Sorry for the delay but I waited to merge another PR before merge the fix and there is fewer people who participate to this project

[2021-11-21 13:47] slim-patchy commented on #118
Hi @philippart-s I see no one is currently assigned to the project and would like to start work on it. Can I be assigned to the issue?

[2021-11-22 12:56] philippart-s commented on #118
Hi, @slim-patchy.

Yes you can, I assign the issue to you.

Thanks 😉

[2021-11-22 13:38] slim-patchy commented on #118
Thanks @philippart-s I will follow up with a PR soon

[2021-12-10 14:43] slim-patchy opened #152 "Improve contributing documentation to add install details"
## Summary

Currently it is hard for a newcomer to start contributing because of some missing details (like how to run), that currently can only be accessed via the generic Jenkins contributing documentation at https://github.com/jenkinsci/.github/blob/master/CONTRIBUTING.md. Would like to prepare a doc PR to fix this issue to add to https://github.com/jenkinsci/conventional-commits-plugin/blob/ma

[2021-12-10 17:07] philippart-s commented on #152
hello @slim-patchy.

I agree with you, I assign to you this issue :wink:

[2021-12-11 15:06] slim-patchy commented on #152
Thanks @philippart-s!

[2021-12-14 11:05] asergeant01 commented on #10
I believe i have come across this issue also. Is there a know work around?

`java.io.IOException: workspace.isRemote(), not entirely sure what to do here...`

[2021-12-15 08:08] philippart-s commented on #10
Hi, we didn't work yet on this issue, sorry

[2021-12-16 14:46] slim-patchy commented on #152
Am thinking about adding details in the [CONTRIBUTING.md](https://github.com/jenkinsci/conventional-commits-plugin/blob/main/.github/CONTRIBUTING.md) file with at least the following:

1. A friendly reminder to first install Jenkins before trying to install this plugin.
2. A suggestion to use the `mvn hpi:run` command to build and run the plugin.
3. A pointer to state that using the default config

[2021-12-17 07:39] philippart-s commented on #152
Hi,

I agree with you.
You can also set links to the generic documentation to avoid duplicate content and do maintenance when it change in the generic documentation.

[2021-12-17 08:15] stefanbesler opened #153 "Allow a custom prefix"
### Dependencies

### Feature Request

Hi!

First of all, thanks for your plugin!
In our workflow we want to use conventional commits, but we have to be able to support distinct release branches and we would like to have a prefix in the the tags, i.e. <name_of_release>.1.3.5

[2021-12-20 13:51] slim-patchy commented on #152
Hi @philippart-s, sure I can do that. Also for the testing part I think I better include some reminder for contributors to add tests for their PRs where appropriate, if the code contributed will affect the output in any way, shape, or form. Just realised I almost forgot that all-important step in the CI/CD process.

[2021-12-20 15:06] slim-patchy commented on #118
I am currently working out how best to put some code to parse the very long output of the command `go list -m -versions`, is the directory `src/main/java/io/jenkins/plugins/conventionalcommits/utils` a good place for it? For a background the output for the [`hey`](https://github.com/rakyll/hey) repo can look something like the following:
[code]
So some regex may be warranted for such a task...

[2021-12-21 13:41] philippart-s commented on #152
for me whatever the contribution, tests must be exist :wink:

[2021-12-21 13:47] philippart-s commented on #118
yes if your code is GO oriented (or just used for a Go project) put it in a class `GoProjectType`

[2021-12-21 13:56] philippart-s commented on #153
Ho @stefanbesler,
I understand the need but the plugin manipulate [semver](https://semver.org/) versions and a prefix is not allowed in semver specs.
If we want to add such feature we'll must add an optional parameter, for instance `prefix` to remove it when we compute the next semver version.

Is this behaviour match what you expect ?

For instance : `nextVersion prefix: 'unicorn-' will be compat

[2021-12-21 14:42] stefanbesler commented on #153
That is exactly what I would need!

[2021-12-25 14:10] slim-patchy commented on #118
Sure, no problem! Have just completed a first draft of the code for Go support, on to the testing stage next. Should be done over the next few days.

[2021-12-27 11:45] slim-patchy commented on #118
Just submitted PR #156 to follow-up on this issue.

[2021-12-28 12:35] philippart-s commented on #118
I'll review it as soon as possible

[2021-12-30 16:15] #118 closed

[2022-01-01 09:25] slim-patchy commented on #153
@philippart-s I think this is an issue relevant to Go projects as well as their version starts with the prefix `v`.

[2022-01-01 09:26] slim-patchy commented on #116
Hi @philippart-s Am interested in working on this issue. Can I be assigned to it?

[2022-01-02 13:56] philippart-s commented on #116
Hi @slim-patchy ,

Of course you can work on it !
And happy new year ! :tada:

[2022-01-02 14:06] philippart-s opened #159 "Gitpod configuration"
### What feature do you want to see added?

To simplify the initialization of the development environment make a gitpod config in the project (.gitpod file)

### Upstream changes

_No response_

[2022-01-02 23:43] slim-patchy commented on #116
Great, thanks @philippart-s

Happy new year to you too! 🎉

[2022-01-07 15:55] #152 closed

[2022-01-08 07:52] slim-patchy commented on #116
Am doing some research about how to approach this issue, and will submit a PR once I have the code ready

[2022-01-20 14:26] slim-patchy commented on #116
@philippart-s Looks like the best bet/option is to use either `git` tags or to use the `composer.json` configuration file if a version number is indeed supplied. But the more modern way appears to be `git` tags based, not the ideal solution in our given context. What do you think?

[2022-01-21 13:46] slim-patchy commented on #116
I am kind of leaning towards using the `composer.json` config file as a means to check for package version, but it does not appear to be the best or even encouraged practice according to the [official documentation](https://getcomposer.org/doc/04-schema.md#version). Hence, the most viable way would be to use git tags, with something like the following:
[code]
For PHP I think in a way this makes so

[2022-01-22 16:39] philippart-s commented on #116
Hi @slim-patchy ,
If it's hard to determine the current version for PHP project using information in a file the use of git tag is the default behavior of the plugin.

We have a method for that : https://github.com/jenkinsci/conventional-commits-plugin/blob/46b9398908286f660f43bc895d6110ce5cafc20b/src/main/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersion.java#L19
And the latest tag

[2022-01-25 12:39] slim-patchy commented on #116
Hi @philippart-s Yeah, it's actually a bit disappointing to realise that the best practice as advocated by the org behind Composer is not to include any versioning info in their config file `composer.json`, even though this is an option for versioning if the PHP developer does choose to do so. Let me see what I could put together to computer the next version for PHP instead... Will need to check t

[2022-01-25 12:40] slim-patchy commented on #116
Should we close this issue then for me to move on to #117?

[2022-01-25 14:56] philippart-s commented on #116
I'm not sure that the #117 can be done if it is not possible to have a file where read / store the version.
I think the #117 and this PR are linked : either we code them or we close them, what do you think ?

[2022-01-25 14:59] slim-patchy commented on #116
Yeah, I think you are right. How about checking if the version is indeed not included in the `composer.json` file before falling back onto the default `git tag` routine? I think I will be able to come up with a PR for that.

[2022-01-25 15:08] philippart-s commented on #116
It will be perfect to me, but it's more development to do 😉 .
If you are interested to develop this use case don't hesitate !

[2022-01-27 12:01] slim-patchy commented on #116
Glad you liked the idea! Sure, let me do a bit research before preparing for a follow-up PR.

[2022-01-28 13:42] vehagn commented on #10
I have the same issue in my project. Any pointers on how this can be fixed?

[2022-01-28 19:55] asergeant01 commented on #10
@vehagn in the end we didn’t use the plugin, instead as we can run containers in our Jenkins we simply deployed the commitizen container and just scripted their commands

https://hub.docker.com/r/commitizen/commitizen

[2022-02-27 09:35] slim-patchy commented on #116
Sorry for the long delay @philippart-s! Will be submitting a PR within the next week or two.

[2022-02-27 17:12] philippart-s commented on #116
No problem, it's an open source project.
The aim is to take pleasure to code it, no pressure 😉

Personally I just started a new job so my schedule is quite busy, I have to code a feature since 2 months!

[2022-03-03 03:55] venkatvaranasi8421 opened #173 "java.io.IOException: workspace.isRemote(), not entirely sure what to do here..."
We are trying to use this plugin for our project to use semantic versioning for release. But when we check in code and try to build using jenkins file we are getting this error:

java.io.IOException: workspace.isRemote(), not entirely sure what to do here...
	at io.jenkins.plugins.conventionalcommits.CurrentVersionStep$Execution.run(CurrentVersionStep.java:70)
	at io.jenkins.plugins.conventionalco

[2022-03-05 10:35] philippart-s commented on #173
Hi,

It appears that you use a remote workspace (if not there is a bug in the plugin 😉).
The remote workspace is not yet supported by the plugin.

We don't do tests so I can't tell you if it is possible to use the plugin is this context.

Can you detail what kind of remote workspace do you use and the use case ?

[2022-03-07 10:40] #116 closed

[2022-03-16 11:10] traghu84 commented on #173
Hi,

I am also facing the same issue, where as in our case we are spinning of Docker container for Jenkins Agents to build the job which will be destroyed immediately once build completes.

So if i understand correctly this plugin does support only when the build happens on the master?

[2022-03-16 16:14] philippart-s commented on #173
I don't know, I came after the creation of the plugin and became maintainer because lot of people left the plugin development.

I try to keep it alive but I haven't the all history.

[2022-03-17 15:49] Rossbro2 commented on #173
Same issue here @philippart-s.  I am running a multibranch pipeline job on a Jenkins node that is not the master.

As @moritzrupp mentioned - what is the requirement for running on the master?

Also, is this expected to be fixed anytime soon?  Thank you.

[2022-03-17 16:16] Rossbro2 commented on #173
Looks like [this code](https://github.com/jenkinsci/conventional-commits-plugin/blob/afd65531d09d323716aa1faf296969af52a535d0/src/main/java/io/jenkins/plugins/conventionalcommits/NextVersionStep.java#L232) was introduced from PR #9, if that helps with troubleshooting at all...

[2022-03-18 06:35] philippart-s commented on #173
As I explain I came after the creation of the plugin, I think there is no reason just the plugin was not tested on agent.

Expected to be fixed yes but the question is when.
Almost all developers left this project and I'm quite alone.

I try to have a look during the next days and give you a feedback on the correction

[2022-03-18 07:53] philippart-s commented on #173
@moritzrupp I made a quick fix (remove the if 😅) and tested with a local main instance and a local remote agent.

All seem good but it's not a real production test because I have only one machine.

When the new version will be release I ping you to test the new version and tell me if it fixes the issue.

[2022-03-18 12:35] Rossbro2 commented on #173
Sounds great - thank you @philippart-s!

[2022-03-19 17:32] #10 closed

[2022-03-19 17:32] #173 closed

[2022-03-19 18:02] philippart-s commented on #173
@Rossbro2 & @moritzrupp release [0.11.1](https://github.com/jenkinsci/conventional-commits-plugin/releases/tag/0.11.1) should fix your problem

[2022-03-19 18:03] philippart-s commented on #10
@asergeant01 & @vehagn release [0.11.1](https://github.com/jenkinsci/conventional-commits-plugin/releases/tag/0.11.1) should fix your problem

[2022-07-06 03:31] itrice opened #205 "nextversion does not work"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Can not calculate the version, from the commit messages. Only BREAKIN CHANGE patten works. The others are not working.
e.g
![image](https://user-images.githubusercontent.com/10216853/177461763-84

[2022-07-06 06:36] garethjevans commented on #205
Hi @itrice, looking at the commits you have created since the previous release, I would expect the next version to be `2.0.0` and not `2.1.1`.

[2022-07-19 08:09] rcjames opened #209 "Remote checkout not working"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

* Jenkins server version 2.346.2 running in Kubernetes.
* Agent based on jenkins/inbound-agent:4.7-1-alpine running in Kubernetes.
* conventional-commits plugin version 0.11.2

### Reproduction s

[2022-07-19 17:05] #205 closed

[2022-08-03 20:29] philippart-s commented on #209
Hi,

Sorry for the delay but I'm in holidays and this plugin have few developers 😉 .
I can try have a look when I come back but your use case is very particular with Kubernetes, it may take time that I test in the same environment.

The error message seems indicate that the git client is not installed on your worker, can you verify your worker tools configuration ?

[2022-08-08 13:38] rcjames commented on #209
@philippart-s - Not to worry. This is not an urgent thing.

I have exec'd into one of the agents and confirmed that git is installed and on the path. The git checkout defined in the pipeline manifest I have included above also has no issues.

[2022-09-09 16:05] wwuck commented on #209
@philippart-s I am getting the same error without using kubernetes.

pipeline script:
[code]
build log:
[code]

[2022-09-30 08:57] laukerta opened #224 "Cannot run program "mvn" on containerized agent"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux + Linux-Containers

### Reproduction steps

We have pipeline which is configured like this:
[code]

### Expected Results

We expect that the next version is correctly derived based on the c